/* link -> html head에 넣기 */
/* font-face -> css에 넣기 */
@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.black-han-sans-regular {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.abc {
  font-family: "CookieRun-Regular";
  font-size: 50px;
}
