.dad {
}

.Jordan {
  background-color: #f4f4f4;
  width: 100px;
  border-radius: 10px;
  /* padding: 12시 3시 6시 9시 */
  padding: 10px 10px 10px 10px;
  font-weight: 1000;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  font-family: monospace;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* ctrl + / : 무시해주세요. */
  /* line-height: 30px; 줄간격 */
  /* text-transform: uppercase; 글 모양 바꾸기 */
  /* word-spacing: 20px; 자간 */
}

.Nike {
  background-color: #f4f4f4;
  width: 100px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  font-weight: 1000;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: fantasy;
}

.Chanel {
  background-color: #f4f4f4;
  width: 100px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  font-weight: 1000;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: initial;
}
.Yeezy {
  background-color: #f4f4f4;
  width: 100px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  font-weight: 1000;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Conven {
  background-color: #f4f4f4;
  width: 100px;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  font-weight: 1000;
  border: 1px solid #f4f4f4;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
